# Escape Characters

In [39]:
# Single Quote
print('It\'s alright.')

It's alright.

In [40]:
# Backslash
print("This will insert one \\ (backslash).")

This will insert one \ (backslash).

In [41]:
# New Line
print("Hello\nWorld!")

Hello
World!

In [46]:
# Carraige Return
print("Hello\rWorld!")

World!

In [47]:
# Tab
print("Hello\tWorld!")

Hello	World!

In [48]:
# Backspace
print("Hello \bWorld!")

HelloWorld!

In [49]:
# Octal value
print("\110\145\154\154\157")

Hello

In [54]:
# Hex Value
print("\x48\x65\x6c\x6c\x6f")

Hello

# type() function

In [108]:
print(type(3.14))

print(type("3.14"))

<class 'float'>
<class 'str'>

In [109]:
print(type(True))

print(type(2))

<class 'bool'>
<class 'int'>

## Type Conversion

In [110]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

# print() function arguments

In [56]:
print("I am", 19, "years old.") 

print("The itsy bitsy spider" , "climbed up" , "the waterspout.") 

print("The itsy bitsy spider" + "climbed up" + "the waterspout.") 

print(2,3) 

print(2+3)

I am 19 years old.
The itsy bitsy spider climbed up the waterspout.
The itsy bitsy spiderclimbed upthe waterspout.
2 3
5

# len() function

In [63]:
#len() - Counts the amount of characters
print(len("SYUFXDFHUIFGXFUGCGHDHY8UGIDZUHGFD234234234242+++++++423FZGUXFUHGXDFGUHCFXUGHXCUGXCUGUGHD"))

88
8

In [69]:
print(len("Uvuvwevwevwe Onyetenyevwe Ugwemubwem Ossas"))

42

In [4]:
x = "Test5*"
print(len(x))

6

# Arithmetic Operators

In [89]:
# Addition
100 + 50

150

In [88]:
# Subtraction
100 - 50

50

In [87]:
# Multiplication
100 * 50

5000

In [92]:
# Division
100 / 50

2.0

In [93]:
# Modulus Operator - Prints the remainder
print(15%6)

3

In [103]:
# Exponentiation
10 ** 5

100000

In [99]:
# Floor Division
100 // 50

2

In [85]:
print("When you divide", 12547891471, "by", 123) 
print("Quotient", 12547891471//123, "Remainder", 12547891471%123)

When you divide 12547891471 by 123
Quotient 102015377 Remainder 100

# Comments

In [107]:
# A comment is made by using a hashtag

''' Comment 
 Comment 
 Comment''' 
 #Triple ' quote to be used to make multiple lines comment 
print("Comment")

Comment

# Variables

In [ ]:
# A variable are containers of information that when run will output the information they are assigned

In [115]:
my_name = "Steven"
print(my_name)

Steven

In [114]:
my_age = 23
print(my_age)

23

In [112]:
my_location ="UK"
print(my_location)

UK

In [136]:
x = 32
y = 21
z = 53

a = x + y
b = x + z
c = y * z
d = x / y

print ("The value of 'a' is:" )
print (a)
print ()
print ("The value of 'b' is:" )
print (b)
print ()
print ("The value of 'c' is:" )
print (c)
print ()
print ("The value of 'd' is:" )
print (d)

The value of 'a' is:
53

The value of 'b' is:
85

The value of 'c' is:
1113

The value of 'd' is:
1.5238095238095237

In [151]:
my_name = "Steven Laurie"
print(my_name)
print(type(my_name))
print(len(my_name))

Steven Laurie
<class 'str'>
13

# input() function

In [ ]:
# The input function is used to take an inputted value from the user

In [5]:
print("Tell me anything...") 
anything = input()
print ("Hmm...", anything, "... Really?")

Tell me anything...

 Hello

Hmm... Hello ... Really?

In [172]:
print("x = 7 and y = 5")
print("If z = x * y")
print()
answer=input("What is z?")

if answer == "35":
    print("Correct, Well done!")
else:
    print("Wrong Answer")

x = 7 and y = 5
If z = x * y

What is z? 35

Correct, Well done!

# Design a calculator that will get two numbers from user, make arithmetic operations and display the result.

In [6]:
X = int(input("Please enter a number:"))  
Y = int(input("Please enter another number:")) 

print()

print("Addition of", X, "and", Y, "=", X+Y)
print("Subtraction of", X, "and", Y, "=", X-Y) 
print("Division of", X, "and", Y, "=", X/Y)
print("Multiplication of", X, "and", Y, "=", X*Y)

Please enter a number: 5
Please enter another number: 4

Addition of 5 and 4 = 9
Subtraction of 5 and 4 = 1
Division of 5 and 4 = 1.25
Multiplication of 5 and 4 = 20

# Write a python code to convert values enetered by user from mile to km or from km to mile

In [223]:
Kilometres = int(input("Please enter value in Kilometres:"))
Miles = Kilometres/1.609

print(Kilometres, "Kilometres in Miles =", round(Miles))

Please enter value in Kilometres: 150

150 Kilometres in Miles = 93

In [224]:
Miles = int(input("Please enter value in Miles:"))
Kilometres = Miles*1.609

print(Miles, "Miles in Kilometres =", round(Kilometres))

Please enter value in Miles: 150

150 Miles in Kilometres = 241

# Write a Python program to calculate the area of a rectangle given its length and width.

In [250]:
length = float(input("Enter Length"))
width = float(input("Enter Width"))

area = length * width
print("Area =", area)

Enter Length 20
Enter Width 5

Area = 100.0

# Write a Python program which accepts the radius of a circle from the user and compute the area.

In [259]:
radius = float(input("Enter Radius"))

area = 3.14 * radius * radius
print("Area =", area)

Enter Radius 3

Area = 28.259999999999998

# Convert temperature from Celsius to Fahrenheit.

In [261]:
celsius = float(input("Enter Celsius"))
fahrenheit = (1.8 * celsius +32)
print("Temperature in Fahrenheit:", fahrenheit)

Enter Celsius 3

Temperature in Fahrenheit: 37.4

# Implement a program that converts a given number from a user of minutes into hours and minutes

In [4]:
minutes = int(input("Enter Minutes ")) 
hours = minutes//60 
remainder_mins = minutes%60 
print(round(hours), "Hours and", remainder_mins, "Minutes")

Enter Minutes  587

9 Hours and 47 Minutes

# Your task is to complete the code in order to evaluate the following expression:

In [5]:
x = 1 
#y =1/x+1/(x+1/(x+1/x)) 
y =1/(x+(1/(x+(1/(x +1/x))))) 
print(y)

0.6000000000000001

In [9]:
x = float(input("Please enter a number:"))
y = print(1/(x+1/(x+1/(x+1/x))))

Please enter a number: 1

0.6000000000000001

In [278]:
x = int(input("Enter value"))
y =1/(x+(1/(x+(1/(x +1/x))))) 
print(y)

Enter value 1

0.6000000000000001